@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-[#06202a] text-gray-300;
  }
}

@layer utilities {
  @variants {
    /* Chrome */
    .noscroll::-webkit-scrollbar {
      display: none;
    }

    /* IE and Firefox */
    .noscroll {
      -ms-overflow-style: none;
      scrollbar-width: none;
    }
    .showscroll::-webkit-scrollbar {
      display: inline-block;
    }

    /* IE and Firefox */
    .showscroll {
      -ms-overflow-style: none;
      scrollbar-width: 5px;
    }
  }
}
